.nav-bar{
    background-color: #2D2E4E;
    padding: 3vh;
}

.nav-bar ul{
    display: flex;
    justify-content: space-between;
}

.nav-bar ul li {
    color: white;
    list-style: none;
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 24px;
}
.nav-bar ul li:hover{
    color: #f6ed85;
    }

.nav-bar a{
    text-decoration: none;
}
